{% extends 'base.html.twig' %}

{% block title %}Currency index{% endblock %}

{% block body %}
    <h1>Currency index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Short_name</th>
                <th>Value</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for currency in currencies %}
            <tr>
                <td>{{ currency.id }}</td>
                <td>{{ currency.name }}</td>
                <td>{{ currency.shortName }}</td>
                <td>{{ currency.value }}</td>
                <td>
                    <a href="{{ path('app_admin_currency_show', {'id': currency.id}) }}">show</a>
                    <a href="{{ path('app_admin_currency_edit', {'id': currency.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_currency_new') }}">Create new</a>
{% endblock %}
