{% extends 'base.html.twig' %}

{% block title %}Currency index{% endblock %}

{% block body %}
    <h1>Tracked Currencies</h1>
    <hr>
    <a class="btn btn-outline-primary" href="{{ path('app_admin_currency_new') }}">Create new</a>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Short name</th>
                <th>Value</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for currency in currencies %}
            <tr>
                <td>{{ currency.id }}</td>
                <td>{{ currency.name }}</td>
                <td>{{ currency.shortName }}</td>
                <td>{{ currency.value }} $</td>
                <td>
                    <a class="btn btn-outline-primary" href="{{ path('app_admin_currency_show', {'id': currency.id}) }}">show</a>
                    <a class="btn btn-outline-primary" href="{{ path('app_admin_currency_edit', {'id': currency.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
