{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Explore Market{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {{ form_start(form) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        <hr>
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-dark table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Tag</th>
                        <th scope="col">Value</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    {% for cur in currencies %}
                    <tr>
                        <td>{{ cur.name }}</td>
                        <td>{{ cur.short_name }}</td>
                        <td>{{ cur.value }} $</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
